@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<h2>Index</h2>

<ul>
    

    <li>
        <a asp-controller="Catalogue" asp-action="Index">Go to > Catalogue</a>
    </li>

    <li>
        <a asp-controller="Invoice" asp-action="Index">Go to > Invoice</a>

    </li>

</ul>