@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    ViewData["Title"] = "Index";
}

   <div>
       <ul>

           <li>
               <p>This is the title: @ViewBag.MusicCD.artist</p>  
           </li>
       </ul>


   </div>